asgiref==3.9.0
crispy-bootstrap5==2025.6
crispy-tailwind==1.0.3
Django==5.2.4
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-js-asset==3.1.2
gunicorn==23.0.0
packaging==25.0
pillow==11.3.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
cloudinary
django-cloudinary-storage
dj-database-url
certifi==2025.7.9
charset-normalizer==3.4.2
cloudinary==1.44.1
crispy-bootstrap5==2025.6
crispy-tailwind==1.0.3
dj-database-url==3.0.1
Django==5.2.4
django-ckeditor==6.7.3
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-js-asset==3.1.2
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
